[
 ;; Match
 {:db/ident :match/time
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident :match/team
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :match/opponent
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :match/pilot
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many}

 {:db/ident :match/fleet
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; Fleet
 {:db/ident :fleet/name
  :db/unique :db.unique/value
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :fleet/point-limit
  :db/unique :db.unique/value
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :fleet/slot-limit
  :db/unique :db.unique/value
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :fleet/slot
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true}

 ;; Slot
 {:db/ident :slot/id
  :db/unique :db.unique/value
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :slot/pilot
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :slot/ship
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; Pilot
 {:db/ident :pilot/id
  :db/unique :db.unique/identity
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :pilot/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; Ship
 {:db/ident :ship/id
  :db/unique :db.unique/value
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :ship/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :ship/fit
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :ship/points
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 ;; Killmail
 {:db/ident :killmail/id
  :db/unique :db.unique/value
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A killmail's id"}

 {:db/ident :killmail/attacker-count
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A killmail's attacker count"}

 {:db/ident :killmail/time
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A killmail's time"}

 {:db/ident :killmail/uri
  :db/valueType :db.type/uri
  :db/cardinality :db.cardinality/one
  :db/doc "A killmail's CREST uri"}

 {:db/ident :killmail/damage-taken
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :killmail/solar-system
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The solar system where the kill took place."}

 ;; Solar System
 {:db/ident :solar-system/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :solar-system/href
  :db/valueType :db.type/uri
  :db/cardinality :db.cardinality/one}

 {:db/ident :solar-system/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; Position
 {:db/ident :position/x
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one}

 {:db/ident :position/y
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one}

 {:db/ident :position/z
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one}

 ;; Corporation
 {:db/ident :corporation/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :corporation/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :corporation/href
  :db/valueType :db.type/uri
  :db/cardinality :db.cardinality/one}

 {:db/ident :corporation/icon
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true}

 ;; Icon
 {:db/ident :icon/href
  :db/valueType :db.type/uri
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 ]
